@use '../variables';

.infos-bar{
    padding: 16px 24px;
    background-color: variables.$corTextprimary;
    justify-content: space-between;
    display: flex;

    &__infos{
        gap: 40px;
        display: flex;

        &__item{
            color: variables.$corTextSecondary;
            font-size: 14px;
            b{
                color: variables.$corTextSecondary;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px){
        display: block;


        &__infos{
            display: block;

            &__item{
                margin-bottom: 24px;
            }
        }
    }   

    @media (max-width: 1024px){
        &__infos{
            gap: 16px;
        }
    }

}