@use 'hero';
@use './components/infos-bar';
@use './components/button';
@use 'event';

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:640px){
        max-width: 80%;
    }

    @media (max-width:1024px){
        max-width: 90%;
    }
}
